.confirmation {
    --border-color: blue;

    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 1.5rem;
    border-block-start: 0.25rem solid var(--border-color);
    background-color: var(--background-color);
}

.confirmation-info {
    --border-color: ghostwhite;
}

.confirmation-warning {
    --background-color: var(--warning-background-color);
    --color: var(--warning-color);
    --border-color: var(--background-color);
}

.confirmation-destructive {
    --background-color: var(--destructive-background-color);
    --color: var(--destructive-color);
    --border-color: var(--background-color);
}

.confirmation-error {
    --background-color: var(--destructive-background-color);
    --color: var(--destructive-color);
    --border-color: var(--background-color);
}

.confirmation__commands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
