:root {
    --destructive-background-color: #d32f2f;
    --destructive-color: contrast-color(var(--destructive-background-color));

    --warning-background-color: #ff8800;
    --warning-color: contrast-color(var(--warning-background-color));

    --success-background-color: #2e7d32;
    --success-color: contrast-color(var(--success-background-color));

    --disabled-background-color: #d9d9d9;
    --disabled-colour: #6b6b6b;
    --disabled-border-color: #bdbdbd;

    --background-color:  #0f1116;
    --color: contrast-color(var(--background-color));

    --health-ok-background-color: transparent;
    --health-ok-color: var(--color);

    --health-attention-background-color: #ffcc80;
    --health-attention-color: contrast-color(var(--health-attention-background-color));

    --health-critical-background-color: #ef9a9a;
    --health-critical-color: contrast-color(var(--health-critical-background-color));

}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    margin: 0;
    block-size: 100dvh;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

#main {
    block-size: 100%;
    min-block-size: 0;
    inline-size: 80%;
    min-inline-size: 0;
    max-inline-size: 500px;
}

button {
    border-radius: 10px;
    inline-size: fit-content;
    min-inline-size: 8ch;
}

button:disabled {
    background-color: var(--disabled-background-color);
    color: var(--disabled-colour);
    border-color: var(--disabled-border-color);
}

ul,
ol {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

li + li {
    margin-block-start: 0.5rem;
}
