.medications {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    gap: 1rem;
}

.medications__list {
    align-self: center;
    min-inline-size: 20ch;
    max-inline-size: 40ch;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: max-content;
    gap: 0.5rem;

    block-size: 100%;
    min-block-size: 0;
    overflow: auto;

    span {
        min-block-size: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.medications__add-form {
    display: grid;
    grid-template-columns: auto minmax(20ch, 40ch);
    gap: 0.75rem 1rem;
    align-items: start;
}

.medications__add-form > label {
    display: contents;
}

.medications__add-form > label > input,
.medications__add-form > label > textarea {
    width: 100%;
    box-sizing: border-box;
}

.medications__add-form > button {
    grid-column: 2;
    justify-self: start;
}

.medications__add-form__warning {
    grid-column: 1 / -1;
    margin: 0;
    padding-inline: 1rem;

    background-color: var(--warning-background-color);
    color: var(--warning-color);

    border: 1px solid var(--warning-background-color);
    border-radius: 0.5rem;
}
