.medications {
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;
    block-size: 100%;
    min-block-size: 0;
    gap: 1rem;
}

.medications__list {
    list-style: none;
    min-block-size: 0;
    overflow: auto;
}

.medications__list-item {
    padding: 0.25rem;
    border: 1px solid transparent color-mix(in srgb, var(--panel-background-color) 90%, black);
    span {
        min-block-size: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.medications__list-item.selected {
    border: 1px solid color-mix(in srgb, var(--panel-background-color) 70%, black);;
}

.medications__commands {
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.medications__form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem 1rem;
    align-items: start;
    padding: 1rem;
}

.medications__form > label {
    display: flex;
    flex-direction: row;
}

.medications__form > label > input,
.medications__form > label > textarea {
    inline-size: 100%;
    box-sizing: border-box;
}
