.medications {
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;
    block-size: 100%;
    min-block-size: 0;
    gap: 1rem;
}

.medications__list {
    min-block-size: 0;
    overflow: auto;
}

.medications__list-item {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0.25rem;
    border: 2px solid transparent color-mix(in srgb, var(--panel-background-color) 90%, black);
    span {
        min-block-size: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.health-attention {
        background-color: var(--health-attention-background-color);
    }

    &.health-critical {
        background-color: var(--health-critical-background-color);
    }
}

.medications__list-item.selected {
    border: 2px solid color-mix(in srgb, var(--panel-background-color) 70%, black);;
}

.medications__commands {
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.medications__form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem 1rem;
    align-items: start;
    padding: 1rem;
}

.medications__form > label {
    grid-template-columns: 2fr 3fr;
    display: grid;
    inline-size: 100%;
}

.medications__form > label > input,
.medications__form > label > textarea {
    inline-size: 100%;
    box-sizing: border-box;
}
