.refills {
    display: grid;
    grid-template-rows: 3fr 2fr;
    block-size: 100%;
    min-block-size: 0;
    gap: 1rem;
}

.refills__eligible-supplies {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    min-block-size: 0;
    gap: 0.5rem;
}

.refills__eligible-supplies__list {
    min-block-size: 0;
    max-block-size: 100%;
    overflow: auto;
}

.refills__eligible-medications__list-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
    padding-block-start: 0.5rem;
    padding-inline: 1rem;
}

.refills__eligible-medications__list-item + .refills__eligible-medications__list-item {
    padding-block-start: 0.5rem;
}

.refills__previous-supplies {
    border-top: 2px solid var(--background-color);
    padding-block: 1rem;
    block-size: 100%;
    min-block-size: 0;
    display: grid;
    grid-template-rows: 1fr auto;
}

.refills__previous-supplies__scripts-list {
    min-block-size: 0;
    max-block-size: 100%;
    overflow: auto;
}

.refills__previous-supplies__scripts-list-item.selected {
    border: 1px solid color-mix(in srgb, var(--panel-background-color) 70%, black);;
}

.refills__previous-supplies__medications-list {
    padding-inline-start: 1rem;
}

.refills__previous-supplies__medications-list-item {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-block-start: 0;
    &> *:nth-child(2) {
        font-size: smaller;
    }
}

.refills__previous-supplies__commands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
